# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache and temporary files
.cache/
.parcel-cache/
.next/
.nuxt/
.temp/
.tmp/
.history/

# Local Netlify folder
.netlify

# Vite
vite.config.js.timestamp-*